#bg-video {
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
    background-image: url(../img/tm-astro-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*----ejercicio1 calculadora---*/
* {
    font-family: 'Fraunces', serif;
    color: #fff;
}

body {
    margin: 0;
    background-color: #f0f2f5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: #10edab;
    padding: 15px;
    border-radius: 32px;
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 9px;
    font-size: 1.5em;
    border: none;
    background-color: #080808;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00ffc11f;
}

button:focus {
    outline: none;
}

.col-2 {
    grid-column: span 2;
}

.display {
    grid-column: 1 / -1;
    padding: 15px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #0a0909;
    border-radius: 1px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
}

#valor-actual {
    font-size: 1.5em;
}

#valor-anterior {
    font-size: 2em;
}
/*menu chiquito*/
.cuadrado {
    width: 100px;           /* Ancho de 150 píxeles */
    height: 70px;          /* Alto de 150 píxeles */
    background:rgb(253, 233, 5);        /* Fondo de color rojo */
    border-color: rgb(231, 247, 11);
}
/**/

/*------footer------*/
.pie-pagina{
    width: 100%;
    background-color:gray

}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;

}
.pie-pagina .grupo-1 .box figure{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pie-pagina .grupo-1 .box figure img{
    margin-top: 30px;
    width: 150px;
    height: 140px;
    
}
.pie-pagina .grupo-1 .box h2{
    color:black;
    margin-bottom: 25px;
    font-size: 20px;

}
.pie-pagina .grupo-1 .box p{
    color: black;
    margin-bottom: 10px;

}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: rgb(250, 247, 247);
    margin-right: 10px;
    background-color:brown;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: black;
}

.pie-pagina .grupo-2{
    background-color:gray;
    padding: 15px 10px;
    text-align: center;
    color: black;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding: 35px 0px;

    }
}
/*termina calculadora*/